<div class="box">
  <p class="is-size-4">Calculator</p>
  <hr>
  <div class="columns">
    <div class="column is-four-fifths">
      <div class="field">
        <label class="label has-text-weight-semibold">Loan Amount</label>
        <div class="control">
          <input class="input" type="text" placeholder="Enter your loan amount">
        </div>
      </div>
      <div class="field">
        <label class="label has-text-weight-semibold">Number of months</label>
        <div class="control">
          <input class="input" type="email" placeholder="Enter loan term (Months)">
        </div>
      </div>
      <label class="label has-text-weight-semibold">Interest Rate</label>
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" placeholder="Enter your interest rate">
        </div>
        <div class="control">
          <a class="button is-static">
            %
          </a>
        </div>
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-primary">
            Calculate
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
{{yield}}