<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{this.title}}
      </h1>
      <h2 class="subtitle">
        {{this.subtitle}}
      </h2>
    </div>
  </div>
</section>