<div class="columns">
  <div class="column">1</div>
  <div class="column">123</div>
  <div class="column">13451</div>
  <div class="column">1234</div>
  <div class="column">1542</div>
  <div class="column">1234</div>
</div>
{{yield}}