<Header @title={{"Amortization Calculator"}} @subtitle={{"Jordan Schuringa"}} />
<section class="section">
  <div class="columns">
    <div class="column">
      <Calculator />
    </div>
    <div class="column">
      <Summary />
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <Table />
    </div>
  </div>
</section>