<div class="columns">
  <div class="column">
    <Calculator @onSubmit={{route-action "onSubmit"}} />
  </div>
  <div class="column">
    <Summary />
  </div>
</div>
<div class="columns">
  <div class="column">
    <Table />
  </div>
</div>